#wrapper {
	padding: 20px 40px 20px 40px;
}

body {
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgb(250, 250, 250)), to(rgb(215, 215, 215)));
}

h1 {
	font-size: 400%;
	padding: 20px;
	text-shadow: 2px 2px 0px #eee, 3px 3px 0px #707070;
}

.picbox {
	cursor:pointer;
	padding: 8px;
	box-shadow:0 0 5px 1px rgb(180,180,180);
}
.span_1_of_4 {
	background-color: white;
}

.popup {
	display:none; 
	background-color:#fff;
	border-radius:10px 10px 10px 10px;
	box-shadow:0 0 25px 5px #999;
	padding:15px 25px 15px 25px;
	max-width:420px;
	min-height:370px;
	color: #101010;
}

.close-button {
	background-color: rgb(200,200,200);
	border-radius:10px;
	box-shadow:0 2px 3px rgba(0,0,0,0.3);
	color:#fff;
	cursor:pointer;
	border-radius:10px;
	padding:6px 9px;
	position:absolute;
	top:-12px;
	right:-12px;
	font-size:170%;
}

.close-button:hover {
	background-color:#1e1e1e;
}
